
.home {
	width: 100%;
	
	font-family: 'Arial';
	left: 50%;
	// transform: translate(-50%, 0%);
	
	.inner{
		width: $maxWidth;
  	max-width: $maxWidth;
  	margin: 0 auto;
		padding: 80px 0px;
	}


	.post{
		display: block;
		margin-bottom: 55px;
		position: relative;

		&:hover{
			h1{
				.highlight:before{
					height: 100%;
				}
			}
		}
		$title-pad: 0.25em;
		$color-white: #fff;
		h1{
			font-weight: bold;
			font-size: 36px/1.25;
			line-height: $title-pad + 1em;
			position: relative;
			transition: all 0.5s $ease-cubic-in-out;
			
			.highlight {
		    display: inline;
			  background-color: $color-white;
			  color: #000;
			  padding: $title-pad;
		    position: relative;
		    left: $title-pad;
		    padding-left: 0;
		    box-shadow: $title-pad 0 0 $color-white, $title-pad*-1 0 0 $color-white;
		    box-decoration-break: clone;

		    &:before{
					content: "";
					display: block;
					position: absolute;
					left: -$title-pad*2;
					top: 0px;
					height: 0%;
					width: 9px;
					background-color: $yellow;
					transition: all 0.5s $ease-cubic-in-out;
				}
		  }
		}

		h2{
			color: #fff;
			font-size: em(16);
			font-weight: bold;
			text-transform: uppercase;
			margin-top: 15px;
			margin-left: 10px;
		}
	}
}