.menu-component {
  .top-bar {
    width: 100%;
    z-index: 5;
    position: relative;

    @include media($phablet) {
      height: 50px;
      background-color: #ff0000;
      
    }
    

  }
  .menu-button {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 10;
    cursor: pointer;
    @include media($phablet) {
      top: 10px;
      right: 15px;
    }
    >span {
      display: block;
      width: 43px;
      height: 5px;
      margin-bottom: 9px;
      background-color: #fff;
      @include media($phablet) {
        width: 35px;
        height: 5px;
        margin-bottom: 7px;
      }
      &:nth-child(3n) {
        margin-bottom: 0;
      }
    }
    .black {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0px;
      width: 43px;
      overflow: hidden;
      @include media($phablet) {
        width: 35px;
      }
      >div {
        position: absolute;
        bottom: 0px;
        >span {
          display: block;
          width: 43px;
          height: 5px;
          margin-bottom: 9px;
          background-color: #000;
          &:nth-child(3n) {
            margin-bottom: 0;
          }
          @include media($phablet) {
            width: 35px;
            height: 6px;
            margin-bottom: 6px;
          }
        }
      }
    }
  }
  .menu-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 290px;
    height: 100%;
    background: #fff;
    color: #000;
    z-index: 0;
    transform: translate3d(120px, 0px, 0px);
  }
}
