.menu-component {

  &__bar {
    position: relative;
    @include size(calc(100% - $slack-component-width) 75px);
    margin-left: $slack-component-width;
    background-color: $blue;
    z-index: 100;

    
    @include media($phablet) {
      @include size(100% 50px);
      margin-left: 0;
    }

    &__bbb {
      font-family:  $helvetica;
      font-weight: bold;
      color: #fff;
      @include position(absolute, 50% null null null);
      transform: translate(0%,-50%);
      font-size: 0;

      >span{
        font-size: 42px;
        display: inline-block;
        margin-left: 20px;
        letter-spacing: -3px;
      }
    }
    
    &__button {
      $spacing: 25px;
      @include position(absolute, 50% $spacing null null);
      transform: translate(0, -50%);
      cursor: pointer;
      
      >span {
        display: block;
        @include size(30px 4px);
        margin-bottom: 8px;
        background-color: #fff;
        
        @include media($phablet) {

          @include size(35px 4px);
          margin-bottom: 7px;
        }
        
        &:nth-child(3n) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__panel{
    @include position(absolute, 0 0 null null);
    @include size(290px 100%);
    background: #ffff55;
    color: #000;
    z-index: 0;
    transform: translate(290px);
    z-index: 100;

    &__svg{
      @include position(absolute, 0 0 null null);
      @include size(290px 100%);
    }

    &__nav{
      position: relative;
      padding: 30px 20px;

      &.categories{
        padding-bottom: 15px;
        

        a{
          font-family: Arial;
          font-weight: bold;
          font-size: 30px;
          color: #000;
          display: block;
          padding: 15px 20px;
          margin-bottom: 2px;

          &.current, &:hover{
            background-color: #fff;
            color: $salmon;
          }
        }
      }

      &.search-archives{
        padding: 10px 0px;
        margin: 0px 20px;
        background-color: $salmon;

        a{
          font-family: Arial;
          font-weight: bold;
          font-size: 30px;
          color: #fff;
          display: block;
          padding: 15px 10px;
          margin: 0px 10px;
          margin-bottom: 2px;

          &.current, &:hover{
            background-color: #fff;
            color: #000;
          }
        }
      }

      &.links{
        padding: 10px 0px;
        margin: 0px 20px;
        background-color: $yellow;
        margin-top: 25px;

        a{
          font-family: Arial;
          font-weight: bold;
          font-size: 14px;
          color: #000;
          display: block;
          padding: 15px 10px;
          margin: 0px 10px;
          margin-bottom: 2px;

          &.current, &:hover{
            background-color: #000;
            color: $yellow;
          }
        }
      }
    }

  }
  
  .menu-button {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 10;
    @include media($phablet) {
      top: 10px;
      right: 15px;
    }
    .black {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0px;
      width: 43px;
      overflow: hidden;
      @include media($phablet) {
        width: 35px;
      }
      >div {
        position: absolute;
        bottom: 0px;
        >span {
          display: block;
          width: 43px;
          height: 5px;
          margin-bottom: 9px;
          background-color: #000;
          &:nth-child(3n) {
            margin-bottom: 0;
          }
          @include media($phablet) {
            width: 35px;
            height: 6px;
            margin-bottom: 6px;
          }
        }
      }
    }
  }
 
}
