<div class="menu-component">
    <div class="menu-component__bar" v-el="navbar">
        <a href="/" class="menu-component__bar__bbb" >
            <span>Bien</span>
            <span>Bien</span>
            <span>Bien</span>
        </a>
        
        <div class="menu-component__bar__button" v-el="button" v-on="click:toggleMenu">
            <span></span>
            <span></span>
            <span></span>
            <div class="black">
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="menu-component__panel" v-el="panel">
        <nav>
            <a href="">Catégorie 1</a>
            <a href="">Catégorie 2</a>
            <a href="">Catégorie 3</a>
            <a href="">Catégorie 4</a>
            <a href="">Catégorie 5</a>
        </nav>
    </div>
</div>
