<aside class="slack-component" v-scroll="ul.messages" tabindex="-1">

	<ul class="messages">
		<li v-repeat="msgs" class="msg">

			<header>
				<img class="avatar" v-attr="src:user.avatar_url" alt="">
				<p><strong>{{ user.real_name }}</strong><br/>[{{ ts | formatTimestamp}}]</p>
			</header>

      <p v-if="text">{{{text}}}</p>

      <div v-repeat="attachments" class="attachments">
      	<a href="{{from_url}}" target="_blank">
      		<p>{{ from_url }}</p>

      		<div class="infos">
      			<img v-if="thumb_url||image_url" v-attr="src:thumb_url||image_url" alt="" class="thumb">
      			<p class="title" v-if="title">{{ title }}</p>
      			<p class="desc" v-if="text">{{ text }}</p>
      		</div>
      	</a>
      </div>

      <!-- <div v-if="attachments">
      	attachements
      </div> -->
    </li>
    
	</ul>
</aside>
