*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    padding: 0;
    @extend %full-size;
    background-color: #000;
}

body {
    position: relative;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

[v-cloak] {
    display: none;
}

input[type=text]:focus, textarea:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/**
 * Global side
 */
.global{
    height: 100%;
    margin-left: 290px;
    position: relative;
    
    
    .background-home{
        position: fixed;
        top: 0;bottom: 0;
        left: 290px;right: 0;
        overflow: hidden;        

        &:before{
            display: block;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.35);
            z-index: 10;
        }

        >div{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: 50%;
        }
    }

    /**
     * BBB Logo
     */
    header.bbb{
        position: relative;
        width: 660px;
        margin: auto;
        padding-top: 140px;
        font-family: 'Arial';
        font-size: em(56);
        line-height: 90px;
        margin: 0;
        font-weight: bold;
        
        -webkit-font-smoothing: none;
        -moz-osx-font-smoothing: grayscale;

        a{
            color: #fff;
        }

        .wrap {
            perspective: 800px;

            &:hover{
                .cube{
                    &:nth-child(1n){
                        transform: rotateX(-180deg);
                    }

                    &:nth-child(2n){
                        transform: rotateX(-180deg);
                    }

                    &:nth-child(3n){
                        transform: rotateX(-180deg);
                    }
                }
            }
        }
        
        $width:120px;
        .cube {
            position: absolute;
            width: $width;
            transform-style: preserve-3d;
            // animation: spin-vertical 5s infinite linear;
            transform-origin: 50% 50%;
            height: 90px;
            top: 0;


            &:nth-child(1n){
                left: 0;
                transition: transform 0.8s $ease-cubic-in-out;
            }

            &:nth-child(2n){
                left: $width;
                transition: transform 0.8s $ease-cubic-in-out;
                transition-delay: 0.15s;
            }

            &:nth-child(3n){
                left: $width * 2;
                transition: transform 0.8s $ease-cubic-in-out;
                transition-delay: 0.30s;
            }
        }

    
        .cube > span {
            background-color: red;
            display: block;
            position: absolute;
            height: 90px;
            &.back {
                transform: translateZ(-45px) rotateX(180deg);
            }
            
            &.top {
                transform: rotateX(-270deg) translateY(-45px);
                transform-origin: top center;
                background-color: yellow;
            }
            &.bottom {
                transform: rotateX(-90deg) translateY(45px);
                transform-origin: bottom center;
                background-color: blue;
            }
            &.front {
                transform: translateZ(45px);
                background-color: red;
            }
        }



        
    }
}


.section{
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

@-webkit-keyframes spin-vertical {
    from { -webkit-transform: rotateX(0); }
    to { -webkit-transform: rotateX(-360deg); }
}

@-ms-keyframes spin-vertical {
    from { ms-transform: rotateX(0); }
    to { ms-transform: rotateX(-360deg); }
}

@keyframes spin-vertical {
    from { transform: rotateX(0); }
    to { transform: rotateX(-360deg); }
}