@import "base/variables";

$column: 127px;
$gutter: 10px;
$grid-columns: 10;
$grid-margin: 10;
$max-width: calc(100% - 2 * #{$grid-margin});

// DEBUG
$visual-grid: true;
$visual-grid-index: front;
$visual-grid-color: #1abc9c;

$mobile: new-breakpoint(max-width 640px 4);
$tablet: new-breakpoint(min-width 990px 10);
$desktop: new-breakpoint(min-width 1230px 10);
$large-screen: new-breakpoint(min-width 1400px 10);